/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* COLORS */
  /* backgrounds*/
  --clr-background-1: hsl(0, 0%, 90%);
  --clr-background-2: hsl(0, 5%, 81%);
  --clr-background-3: hsl(0, 0%, 93%);

  --clr-key-num: hsl(45, 7%, 89%);
  --clr-key-num-shadow: hsl(35, 11%, 61%);
  --clr-key-num-hover: hsl(45, 7%, 79%);

  --clr-key-reset: hsl(185, 42%, 37%);
  --clr-key-reset-shadow: hsl(185, 58%, 25%);
  --clr-key-reset-hover: hsl(185, 42%, 27%);

  --clr-key-total: hsl(25, 98%, 40%);
  --clr-key-total-shadow: hsl(25, 99%, 27%);
  --clr-key-total-hover: hsl(25, 98%, 30%);

  --clr-text-1: hsl(60, 10%, 19%);
  --clr-text-2: hsl(60, 10%, 19%);
  --clr-text-3: hsl(0, 0%, 100%);

  /* FONTS */
  --ff-primary: 'Spartan', 'Spartan', sans-serif;

  --fs-100: 0.5rem;
  --fs-150: 0.75rem;
  --fs-200: 1rem;
  --fs-250: 1.25rem;
  --fs-300: 1.5rem;
  --fs-350: 1.75rem;
  --fs-400: 2rem;
  --fs-450: 2.25rem;
  --fs-500: 2.5rem;
  --fs-550: 2.75rem;
  --fs-600: 3rem;
  --fs-700: 3.5rem;
  --fs-800: 4rem;
  --fs-900: 5rem;

}